.addOrder{
    /* border:2px solid green; */
}
.addOrder-add{
    /* border:1px dashed purple; */
    
}
.addOrder-detailsOrder-table table{
    float: right;
    direction: rtl;
    
}
.addOrder-detailsOrder-table table > tr,td,th{
    border:1px solid red
  
}
.addOrder-customerInfo li{
    text-align: right;
    direction: rtl;
     
    width: 85%;
    margin:20px 0 0 100px

}
.addOrder-add{
    direction: rtl;
    width: 75%;
    margin-left:50px


}
.addOrder-add label{
    float: right;

}
.addOrder-hr{
    background-color:purple;
    width:70%;
    margin-right:300px
}
.CompleteReport-table{
    width: 80%;
    margin: 0 210px 0 0 ;
}