.addOrder{
    border:2px solid green;
}
.addOrder-add{
    /* border:1px dashed purple; */
    
}
.addOrder-detailsOrder-table table{
    float: right;
    direction: rtl;
    
}
.addOrder-detailsOrder-table table > tr,td,th{
    border:1px solid red
  
}
.addOrder-customerInfo li{
    text-align: right;
    direction: rtl;
    margin-top: 20px

}
.addOrder-add{
    direction: rtl;


}
.addOrder-add label{
    float: right;

}
.addOrder-hr{
    background-color:purple
}